@model WebSite.Models.team

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Layouts/Team.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Create/Create.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/CreateTeam/CreateTeam.js")
}
<div id="detail-main">
    <h2>组建虚拟团队</h2>
    <div id="CreateTeam">
        <form class="form-horizontal" role="form" method="POST" action="@Url.Action("Create", "Team")">
            <div class="form-group" style="display: none">
                @Html.LabelFor(model => model.purchaseId, "ID：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.purchaseId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.purchaseId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.team_name, "队名：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.team_name, new { @class = "form-control", @placeholder = "队名" })
                    @Html.ValidationMessageFor(model => model.team_name)
                </div>
            </div>
            <div class="form-group">
                <label for="inputMember" class="col-sm-3 control-label">成员姓名</label>
                <div class="col-sm-9">
                    <input type="text" name="invitees" class="form-control" id="inputMember" placeholder="成员姓名" role="button" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content=" 成员之间用逗号隔开">
                </div>
            </div>
            <fieldset disabled>
                <div class="form-group">
                    <label for="purchase_title" class="col-sm-3 control-label">采购信息名称：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="purchase_title" value="@ViewBag.purchaseTitle">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.team_introduction, "概要：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.team_introduction, new { @class = "form-control", @row = "5" })
                    @Html.ValidationMessageFor(model => model.team_introduction)
                </div>
            </div>
            <div class="form-group form-submit">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success">保存并提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
       
        $("#inputMember").on('keydown', function (e) {
            var name = $(e.target).val();
            name = name.replace(/\s/g, "");

            if (name.length === 0) {
                setTimeout(function () {
                    console.log(123);
                    $(this).attr("data-content", '成员之间用逗号隔开');
                    return;
                }, 100);
            }
            
            $.ajax({
                type: "post",
                url: "@Url.Action("CheckMemberListNameExist", "Verify")",
                data: {names : name},
                dataType: "json",
                success: function (data) {
                    var msg = null;
                    if (data instanceof Array && data.length > 0 && data[0].length > 0) {
                        var str = data.join(",");
                        msg = str + "这些用户名错误！";
                        $("#inputMember").attr("data-content", msg);
                        $('#inputMember').popover('show');
                    } else {
                        $("#inputMember").attr("data-content", "成员之间用逗号隔开");
                    }

                }

            });
        }); 
    }); 

</script>