@model WebSite.Models.PurchaseModel

@{
    ViewBag.Title = "PubPurchase";
    Layout = "~/Views/Layouts/Pub.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Create/Create.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/PubPurchase/PubPurchase.js")
}
@section title {
    发布采购信息
}

<div id="detail-main">
    <h2>发布采购信息</h2>
    <div id="PubPur-main">
        <form class="form-horizontal" role="form" method="POST" action="@Url.Action("Create", "Purchase")">
            <fieldset disabled>
                <div class="form-group">
                    <label for="companyName" class="col-sm-3 control-label">采购人：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="companyName" value="@ViewBag.companyName">
                    </div>
                </div>
            </fieldset>
            <div class="form-group" style="display: none">
                @Html.LabelFor(model => model.info.purchaseId, "ID：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.info.purchaseId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.info.purchaseId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.info.purchase_title, "采购信息标题：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.info.purchase_title, new { @class = "form-control", @placeholder = "项目名称" })
                    @Html.ValidationMessageFor(model => model.info.purchase_title)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.info.purchase_time, "招标时间：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.info.purchase_time, new { @class = "form-control", @placeholder = "招标时间", type = "date" })
                    @Html.ValidationMessageFor(model => model.info.purchase_time)
                </div>
            </div>
            <div class="form-group">
                <label for="inputExpert" class="col-sm-3 control-label">指定专家：</label>
                <div class="col-sm-9">
                    <input type="text" name="invitees" class="form-control" id="inputExpert" placeholder="指定专家" role="button" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="专家之间用逗号隔开">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.invitationContent, "邀请语：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.invitationContent, new { @class = "form-control", @row = "5" })
                    @Html.ValidationMessageFor(model => model.invitationContent)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.info.purchase_content, "概要：", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.info.purchase_content, new { @class = "form-control", @row = "5" })
                    @Html.ValidationMessageFor(model => model.info.purchase_content)
                </div>
            </div>
            <div class="form-group form-submit">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success">保存并提交</button>
                </div>
            </div>
        </form>
    </div>
</div>