@model WebSite.Models.admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.admin_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.adminId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
