
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Layouts/Details.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Index/index.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}

<h2>Detail</h2>

