
@{
    ViewBag.Title = "CompanyHome";
    Layout = "~/Views/Layouts/Personal.cshtml";
}
@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/BidList/BidList.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/BidList/BidList.js")
}
<h2>CompanyHome</h2>

