
@model WebSite.Models.RegisterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/Register.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Register/Register.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Register/register.js")
}


<div id="register-main">
    <h2>注册</h2>
    <div class="register-right pull-left">
        <form class="form-horizontal" role="form">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(model =>model.type, "用户类型", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.type, new { @class = "form-control" , @placeholder="用户类型" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.name, "名称" , new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.name, new { @class = "form-control" , @placeholder="名称" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.mail, "邮箱", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.mail, new { @class = "form-control", @placeholder="邮箱" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.telephone, "电话", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.telephone, new { @class = "form-control" , @placeholder="电话"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.address, "地址", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.address, new { @class = "form-control"  , @placeholder="地址" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password, "密码", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", @placeholder="密码" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="确认密码">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.introduce, "概要", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.introduce, new { @class = "form-control", @placeholder="概要" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputCode" class="col-sm-3 control-label">验证码</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputCode">
                </div>
                <div class="col-sm-5">
                    <a href="#" class="changeCode"><img src="../Image/code.png" alt="验证码" /></a>
                </div>
            </div>
            <div class="form-group form-submit">
                <div class="col-sm-offset-3 col-sm-2">
                    <button type="submit" class="btn btn-success">提交</button>
                </div>
                <div class="col-sm-7">
                    @Html.ActionLink("已有账号？立即登录>>", "Index", "Index")
                </div>
            </div>
        }
        </form>
    </div>
</div>

