
@model WebSite.Models.user

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/Register.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Register/Register.css")
    @Styles.Render("~/Content/font-awesome.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Register/register.js")
    <script>

        $('.changeCode').on('click', function () {
            var random = Math.random();
            var url = $(this).find('img').attr('src');
            $(this).find('img').attr('src', url + "?version=" + random);
        });

        $("#inputCode").on('blur', function (e) {
            var value = $(e.target).val();
            var icon = $('.flag').find('i');
            $.post("@Url.Action("CheckValidCode", "Verify")", {validCode : value},  function(data){
                if (Boolean(data)) {
                    icon[0].className = "fa fa-2x fa-check";
                    icon.css({
                        'color': "green"
                    })
                }
                else {
                    icon[0].className = "fa fa-2x fa-times";
                    icon.css({
                        'color': "red"
                    })
                }

                $('.flag').find('i').css({
                    display: "block"
                });
            });
        });

    </script>
}


<div id="register-main">
    <h2>注册</h2>
    <div class="register-right pull-left">
        @using (Html.BeginForm("Register", "Register", FormMethod.Post,   new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(model =>model.user_type, "用户类型", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    <select class="form-control"  name="user_type" >
                        <option value="Expert">Expert</option>
                        <option value="Company">Company</option>
                        <option value="Vendor">Vendor</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.user_name, "名称" , new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.user_name, new { @class = "form-control" , @placeholder="名称" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.user_mail, "邮箱", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.user_mail, new { @class = "form-control", @placeholder="邮箱" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.user_telephone, "电话", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.user_telephone, new { @class = "form-control" , @placeholder="电话"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.user_address, "地址", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.user_address, new { @class = "form-control"  , @placeholder="地址" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.user_password, "密码", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.user_password, new { @class = "form-control", @placeholder="密码" })

                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="确认密码">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.user_introduction, "概要", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.user_introduction, new { @class = "form-control", @placeholder="概要" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputCode" class="col-sm-3 control-label">验证码</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputCode">
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0)" class="changeCode"><img class="validate" src="@Url.Action("GetValidateCode", "Verify")" alt="验证码" /></a>
                </div>
                <div class="flag col-sm-1"><i class="fa fa-2x fa-times"></i></div>
            </div>
            <div class="form-group form-submit">
                <div class="col-sm-offset-3 col-sm-2">
                    <button type="submit" class="btn btn-success">提交</button>
                </div>
                <div class="col-sm-7">
                    @Html.ActionLink("已有账号？立即登录>>", "Index", "Index")
                </div>
            </div>
        }
        </form>
    </div>
</div>

