@model WebSite.Models.news

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>news</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.news_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.news_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.news_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.news_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.news_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.news_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.newsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
