@model IEnumerable<WebSite.Models.news>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.company.company_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.company.company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.newsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.newsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.newsId })
        </td>
    </tr>
}

</table>
