
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Layouts/Details.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Details/Details.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}

<!--新闻和虚拟团队详情页主体部分-->
<div id="detail-main">
    @{
        <h2>@ViewBag.name</h2>
    }
    
    <p class="detail-info">
        @{
            <span>@ViewBag.time</span>
            <span>创建供应商:@ViewBag.creator</span>
        }
    </p>
    <div class="detail-text">
        @{ 
            <p>@ViewBag.content</p>
        }
        <p></p>
    </div>
    @if (@ViewBag.detailActionName == "Vendor")
        {
            <a href="#" class="btn btn-success btn-lg pull-right" role="button">申请加入</a>
        }
</div>
<!--新闻和虚拟团队详情页主体部分-->

