
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Layouts/Details.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Details/Details.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/TeamDetails/TeamDetails.js")
}
@section title
{
    详情
}

<!--新闻和虚拟团队详情页主体部分-->
<div id="detail-main">
    @{
        <h2>@ViewBag.name</h2>
    }
    
    <p class="detail-info">
        @{
            <span>@ViewBag.time</span>
            <span>创建供应商:@ViewBag.creator</span>
        }
    </p>
    <div class="detail-text">
        @{ 
            <p id="view_content">@ViewBag.content</p>
        }
        <p></p>
    </div>
    @if (@ViewBag.detailActionName == "Team")
    {
        <button class="btn btn-success btn-lg pull-right" value="@ViewBag.teamId" role="button">申请加入</button>
    }
</div>
<!--新闻和虚拟团队详情页主体部分-->

<script>
    var view_content = $("#view_content").html();
    $("#view_content").html(decodeURI(view_content));
</script>