
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/List.cshtml";
    ViewBag.prePage = ViewBag.pageNum - 1;
    ViewBag.nextPage = ViewBag.pageNum + 1;
    ViewBag.page = "news";
    ViewBag.parent = ViewContext.RouteData.Values["action"];    
    ViewBag.pageClass = "action disabled";
    ViewBag.detail = ViewBag.detailActionName+"/Detail?id=";
}
@section title{
   @ViewBag.bigtitle 列表
}


@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/List/List.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}

<!--详情页主体部分-->
<div id="list-main">
    <h2>
        <span id="page_title">@ViewBag.bigtitle</span>
        <script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=4129137774415690631') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
    </h2>
    <ul>
        @foreach (var item in ViewBag.list)
            {
                <li>
                    <a href="~/@ViewBag.detail@item.detailId">
                        <h4>@item.name</h4>
                        <p>
                            @item.content
                        </p>
                        @if (ViewBag.parent == "TeamList")
                        {
                            <span>已有<strong>@item.time.second</strong>人参加</span>
                        }
                        else
                        {
                            <span>@item.time.first</span>
                        }

                    </a>
                </li>
            }
    </ul>
    <nav>
        <ul class="pagination">
            <li class="@if (@ViewBag.pageNum == 1) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@ViewBag.prePage"><span aria-hidden="true">&laquo;</span></a></li>
             @for (int i = 1; i <= @ViewBag.sumPage; i++)
             {
                <li class="@if (@ViewBag.pageNum == i) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@i">@i</a></li>
             }
            <li class="@if (@ViewBag.pageNum == @ViewBag.sumPage) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@ViewBag.nextPage"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
<!--详情页主体部分-->
<script>
    var h2 = $("#page_title");
    var main_nav = $("#main-nav");
    var index = null;
    console.log(h2.text());
    if (h2.text() === '新闻列表') {
        index = 1;
        console.log(123);
    }
    else if (h2.text() === "采购信息") {
        index = 2;
    }
    else if (h2.text() === "专家名单") {
        index = 3;
    }
    else if (h2.text() === "虚拟团队") {
        index = 4;
    }


    main_nav.find('li').eq(index).addClass("active");
</script> 