
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/List.cshtml";
    ViewBag.prePage = ViewBag.pageNum - 1;
    ViewBag.nextPage = ViewBag.pageNum + 1;
    ViewBag.page = "news";
    ViewBag.parent = ViewContext.RouteData.Values["action"];    
    ViewBag.pageClass = "action disabled";
    if(ViewBag.detailActionName == "Vendor")
    {
        ViewBag.detail = "~/"+ViewBag.detailActionName+"/TeamDetail?id=";
    }
    else
    {
        ViewBag.detail = "~/"+ViewBag.detailActionName+"/Detail?id=";
    }
}


@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/List/List.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}

<!--详情页主体部分-->
<div id="list-main">
    <h2>
        @ViewBag.bigtitle
        <form class="navbar-form navbar-right" role="search">
            <input type="text" class="form-control" placeholder="搜索题库内容">
            <input type="submit" value=" " name="search" />
        </form>
    </h2>
    <ul>
        @foreach (var item in ViewBag.list)
            {
                <li>
                    <a href="~/@ViewBag.detail@item.detailId">
                        <h4>@item.name</h4>
                        <p>
                            @item.content
                        </p>
                        @if (ViewBag.parent == "TeamList")
                        {
                            <span>已有<strong>@item.time.second</strong>人参加</span>
                        }
                        else
                        {
                            <span>@item.time.first</span>
                        }

                    </a>
                </li>
            }
    </ul>
    <nav>
        <ul class="pagination">
            <li class="@if (@ViewBag.pageNum == 1) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@ViewBag.prePage"><span aria-hidden="true">&laquo;</span></a></li>
             @for (int i = 1; i <= @ViewBag.sumPage; i++)
             {
                <li class="@if (@ViewBag.pageNum == i) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@i">@i</a></li>
             }
            <li class="@if (@ViewBag.pageNum == @ViewBag.sumPage) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@ViewBag.nextPage"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
<!--详情页主体部分-->

