<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>详情</title>
    @RenderSection("css")
    @RenderSection("script")
</head>
<body>
    <!-- 顶部 -->
    @Html.Partial("~/Views/Shared/header.cshtml")
    <!-- 顶部 -->
    <!--首页主体部分-->
    @RenderBody()
    <!--首页主体部分-->
    <!-- 尾部 -->
    @Html.Partial("~/Views/Shared/footer.cshtml")
    <!-- 尾部 -->
</body>
</html>
