@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/Index.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Index/index.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="../Image/slideImg.png" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Redrock采购网</h1>
                    <p>财政部唯一指定政府采购信息网络发布媒体 国家级政府采购专业网站</p>
                    <p><a class="btn btn-lg btn-success" href="#" role="button">立即注册</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../Image/slideImg.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-success" href="#" role="button">查看详情</a></p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img src="../Image/slideImg.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-success" href="#" role="button">查看详情</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="main">
    <div class="row">
        <div class="col-md-8">
            <h1>新闻动态 <span></span></h1>
            <ul>
                @{
                    if (ViewBag.newses != null)
                    {
                        foreach (var item in ViewBag.newses)
                        {
                                <li>
                                    <a href="#">
                                        <h2><span>item.time.first</span><b>item.time.second</b></h2>
                                        <p>item.name</p>
                                    </a>
                                </li>
                            }
                        }
                }
            </ul>
            <a href="#">更多>></a>
        </div>
        <div class="col-md-4">
            <h3>专家推荐</h3>
            @{
                if (ViewBag.experts != null)
                {
                    foreach (var item in ViewBag.experts)
                    {
                    <img src="../Image/img1.png" alt="img1" />
                    <div class="col-text">
                        <h5>item.name</h5>
                        <p>item.introduction</p>
                     </div>
                        }
                    }
                }
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>采购信息 <span></span></h1>
            <ul>
                @{
                    if (ViewBag.purchases != null)
                    {
                        foreach (var item in ViewBag.purchases)
                        {
                            <li>
                                <a href="#">
                                    <h2><span>item.time.first</span><b>item.time.second</b></h2>
                                    <p>item.name</p>
                                </a>
                            </li>
                        }

                    }

                }
            </ul>
            <a href="#">更多>></a>
        </div>
        <div class="col-md-4">
            <h3>正在组建的团队</h3>
            <ul class="teams">

                @{
                    if (ViewBag.teams != null)
                    {
                        foreach (var item in ViewBag.teams)
                        {
                            <li>
                                <a href="#">item.name</a>
                            </li>
                        }
                    }

                }
            </ul>
            <a href="#">查看更多>></a>
        </div>
    </div>
</div>