@model WebSite.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/Index.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Index/index.css")
    @Styles.Render("~/Content/User/user.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}

<div class="container">
    <h2>User Details</h2>

    <table class="table table-hover table-bordered">
        <tr class="dl-horizontal">
            <td>
                @Html.DisplayNameFor(model => model.user_type)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_type)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.user_telephone)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_telephone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.user_mail)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_mail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.user_name)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.user_address)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.user_introduction)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_introduction)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.user_password)
            </td>

            <td>
                @Html.DisplayFor(model => model.user_password)
            </td>

        </tr>
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>

