@model IEnumerable<WebSite.Models.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/Index.cshtml";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/Index/index.css")
    @Styles.Render("~/Content/User/user.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Index/index.js")
}
@section title
{
    首页
}
<div class="container">

    <h2>首页</h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th>
                用户类型
            </th>
            <th>
                用户名
            </th>
            <th>
                密码
            </th>
            <th>
                手机号码
            </th>
            <th>
                用户邮箱
            </th>
           
            <th>
               用户地址
            </th>
            <th>
                简介
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_mail)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.user_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_introduction)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.userId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.userId })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

</div>

