@{
    ViewBag.Title = "ExpertHome";
    Layout = "~/Views/Layouts/Home.cshtml";
    ViewBag.prev = ViewBag.pageNum - 1;
    ViewBag.next = ViewBag.pageNum + 1;
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/ExpertHome/ExpertHome.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Expect/Expect.js")
}

@section title{
    审核意见列表
}
<div id="list-main">
    <h2>
        专家
        <!-- <a class="back" href="#">退出登录</a> -->
    </h2>

    <div class="content">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li> <div class=""></div><a href="@Url.Action("Home", "Expert")">个人中心</a></li>
                <li><div class=""></div><a href="@Url.Action("InvitationList", "Expert")?page=1">企业邀请</a></li>
                <li>
                    <div class="line"></div><a href="@Url.Action("AuditList", "Expert")?page=1">审核意见列表</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <form class="info" action="" method="post">
                <div class="title">
                    <h2>审核意见列表</h2>
                </div>
                <div class="details">
                    @foreach (var item in ViewBag.list)
                    {
                        <div class="section">
                            <h3>@item.bid.bid_title</h3>
                            <p>@item.audit_content</p>
                        </div>
                    }
                </div>
                <ul class="pagination">
                    <li class="@if (@ViewBag.pageNum == 1) { @Html.Raw("action disabled") } "><a href="@Url.Action("AuditList", "Expert")?page=@ViewBag.pageNum - 1"><span aria-hidden="true">&laquo;</span></a></li>
                    @for (int i = 1; i <= @ViewBag.pageSum; i++)
                    {
                        <li class='@if (@ViewBag.pageNum == i)
                                   {
                                       @Html.Raw("action disabled")

                                   }'><a href="@Url.Action("AuditList", "Expert")?page=@i">@i</a></li>
                    }
                    <li class="@if (@ViewBag.pageNum == @ViewBag.pageSum) {@Html.Raw("action disabled") } "><a href="@Url.Action("AuditList", "Expert")?page=@ViewBag.pageNum +1 "><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </form>

        </div>
    </div>
</div>