
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/List.cshtml";
    ViewBag.prePage = ViewBag.page - 1;
    ViewBag.nextPage = ViewBag.page + 1;
    ViewBag.parent = "ExpertList";
}

@section css {
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Index/common.css")
    @Styles.Render("~/Content/ExpertList/ExpertList.css")
}

@section script {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
    <div id="list-expert">
        <h2>
            专家名单
            <form class="navbar-form navbar-right" role="search">
                <input type="text" class="form-control" placeholder="搜索题库内容">
                <input type="submit" value=" " name="search" />
            </form>
        </h2>
        <ul class="expert-main">
            @foreach (var item in ViewBag.list)
            {
                <li>
                    <a href="#" class="expert-head">
                        <img src="@item.expert_image" alt="@item.user_userId" />
                    </a>
                    <a href="#" class="expert-name">@item.user.user_name</a>
                    <p>已有 <span>@item.expert_accept_count</span> 次审核</p>
                </li>
            }
            
        </ul>
        <nav>
            <ul class="pagination pull-right">
                <li class="@if (@ViewBag.page == 1) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@ViewBag.prePage"><span aria-hidden="true">&laquo;</span></a></li>
                @for (int i = 1; i <= @ViewBag.sumPage; i++)
                {
                    <li class="@if (@ViewBag.page == i) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@i">@i</a></li>
                }
                <li class="@if (@ViewBag.page == @ViewBag.sumPage) { @ViewBag.pageClass } "><a href="@ViewBag.parent?page=@ViewBag.nextPage"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>